elpa/
*.swp
ac-comphist.dat
myinit.el
projectile-bookmarks.eld
recentf
auto-save-list/
projectile.cache
eshell/
tramp
*~
transient/

url/cache/
local.el
.*
server/
flycheck_*
network-security.data
straight/
test/
org-persist/
modules/config-local.el

#*
*#